*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    
  }



.container {
    display: grid;
    gap: 1px;
    height: 90vh;
    width: 90vh;
    /*grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);*/
}

.blank {
    background-color: rgb(238, 216, 157);
    display: grid;
    place-items: center;
    /*width: 5vh;
    height: 5vh;*/
}

.draw {
    background-color: tomato;
}